body{
	background-color: #d9d9d9;
	color: #000305;
	font-size: 87.5%;
	font-family: Arial, 'Lucida Sans Unicode'
	line-height:1.5;
	text-align: left;
}

a{
	text-decoration: none;
}

a:link, a:visited{
	color: brown;
}

a:hover, a:active{
	background-color: #CD853F;
	color: #FFF;
}


.body{
	margin: 0 auto;
	width: 70%;
	clear: both;
}

.mainHeader img{
	width: 30%;
	height: auto;
	margin: 2% 0;
}

.mainHeader nav{
	background-color: #291400;
	height: 40px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader nav ul{
	list-style: none;
	margin: 0 auto;
}

.mainHeader nav ul li{
	float: left;
	display: inline;
}

.mainHeader nav a:link, .mainHeader nav a:visited{
	color: #FFF;
	display: inline-block;
	padding: 10px 25px;
	height: 20px;
}

.mainHeader nav a:hover, .mainHeader nav a:active, 
.mainHeader nav .active a:link, .mainHeader nav .active a:visited{
	background-color: #CD853F;
	text-shadow: none;
}

.mainHeader nav ul li a{
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainContent{
	line-height: 20px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: hidden;
}

.content{
	width: 30%;
	float: left;
	text-align: center;
}
section{
	display: inline-block;
	width: 32.799%;
	text-align: center;
}

.topcontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}

.topcontent img{
	width: 70%;
	display: block;
	margin: auto;

}
.topcontent header a{
	font-size: 15px;
}

.bottomcontent img{
	width: 70%;
	display: block;
	margin: auto;

}
.bottomcontent header a{
	font-size: 15px;
}
.bottomcontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.sidebar p{
	padding-top: 90px;
}
.middlecontent{
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
}
.middlecontent img{
	width: 150px;
	display: block;
	margin: auto;
}
.middlecontent header a{
	font-size: 15px;
}
.post-info{
	font-style: italic;
	color: #999;
	font-size: 90%;
}
.middle-sidebar{
	width: 237px;
	float: left;
	background-color: #CD853F;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 2%;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 20px;
}
.bottom-sidebar{
	width: 237px;
	float: left;
	background-color: #CD853F;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin-top: 0;
	margin-left: 3%;
	margin-bottom: 2%;
	padding: 20px;
}

.middle-sidebar p{
	font-size: 12px;
	text-align: justify;
}
.bottom-sidebar p{
	font-size: 12px;
	text-align: justify;
}
.mainFooter{
	width: 100%;
	height: 20px;
	float: left;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	background-color: #666;
	margin: 2% 0;
}

.mainFooter p{
	width: 92%;
	margin: 10% 0;
	color: #FFF;
	display: inline;
	padding: 15px;
}
.detail header p{
	text-align: left;
	font-size: 20px;
	color: #1F0F00;
}
.detail img{
	width: 200px;
	float: left;
}
.aboutus-content{
	color:#291400;
	text-align: justify;
}
.form_contact{
	width: 50%;
	float: left;
	background-color: #FFF;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	padding: 3% 5%;
	margin-top: 2%;
	margin-bottom: 4%;
	display:grid;
	grid-template-columns:1fr 1fr;/*kolom pertama 1 fraksi kolom kedua 1 fraksi dibagi sama rata*/
}
#myform{
	display:grid;
	grid-template-colunms:1fr 1fr;
	grid-gap:20px;	
}
.full-width{
	grid-columns:1/2;	
}
.form_contact label{
	display:block;
	text-align: bold;	
}
.form_contact p{
	margin:0;
}
.form_contact button, input, textarea{
	padding:lem;	
}
.komentar textarea{
	width: 100%;
}
input{
	width: 100%;
}
textarea{
	width: 100%;
}
button{
	margin: 10px 0;
	background:#000000;
	width:150px;
	height: 25px;
	border:0;	
	border-radius: 6px;
	color: #FFF;
}
button:hover, button:focus{
	background:brown;
	outline:0;	
}
input:focus, textarea:focus{
	outline:3px solid white;	
}

@media screen and  (max-width: 700px){
	.body{
		width: 90%;
		font-size: 95%;
	}
	.mainHeader img{
		width: 100%;
	}
	.mainHeader nav{
		height: 160px;
	}

	.mainHeader nav ul{
		padding-left: 0;
	}

	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info{
		display: none;
	}

	.topcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.topcontent img{
		width: 100%;
		display: block;
		margin: auto;
	}
	.topcontent header p{
		font-size: 10px;
	}
	.bottomcontent header p{
		font-size: 10px;
	}
	.middlecontent header p{
		font-size: 10px;
	}
	.bottomcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.bottomcontent img{
		width: 100%;
		display: block;
		margin: auto;
	}
	.middlecontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.middlecontent img{
		width: 90px;
		display: block;
		margin: auto;
	}
	.detail header p{
		font-size: 20px;
	}
	.detail img{
		width: 100%;
		float: left;
	}
	.middle-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
		background-color: #CD853F;
	}
	.bottom-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
		background-color: #CD853F;
	}
	.middle-sidebar p{
		font-size: 10px;
		text-align: justify;
	}
	.form_contact{
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
		display:grid;
		grid-template-columns:1fr 1fr;/*kolom pertama 1 fraksi kolom kedua 1 fraksi dibagi sama rata*/
	}
	#myform{
		display:grid;
		grid-template-colunms:1fr 1fr;
		grid-gap:20px;	
	}
	.full-width{
		grid-columns:1/2;	
	}
	.form_contact label{
		display:block;	

	}
	.form_contact p{
		margin:0;
	}
	.form_contact button, input, textarea{
		padding:lem;	
	}
	textarea{
		width: 100%;
	}
	input{
		width: 100%;
	}
	button{
		margin: 10px 0;
		background:#000000;
		width:150px;
		height: 25px;
		border:0;	
		border-radius: 6px;
		color: #FFF;
	}
	button:hover, button:focus{
		background:brown;
		outline:0;	
	}
	input:focus, textarea:focus{
		outline:3px solid brown;	
	}
	section{
		display: inline-block;
		width: 32.499%;
		height: 60%;
		text-align: center;
	}
}
@media screen and  (max-width: 980px){
	.body{
		width: 90%;
		font-size: 95%;
	}
	.mainHeader img{
		width: 30%;
	}
	.mainHeader nav{
		height: 160px;
	}

	.mainHeader nav ul{
		padding-left: 0;
	}

	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info{
		display: none;
	}

	.topcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.topcontent img{
		width: 70%;
		display: block;
		margin: auto;
	}
	.bottomcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.bottomcontent img{
		width: 70%;
		display: block;
		margin: auto;
	}
	.bottomcontent header {
		font-size: 15px;
	}
	.middlecontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.middlecontent img{
		width: 70%;
		display: block;
		margin: auto;
	}

	.detail header p{
		font-size: 20px;
	}
	.detail img{
		width: 50%;
		float: left;
	}
	.top-sidebar, .middle-sidebar, .bottom-sidebar{
		width: 180px;
		margin: 2% 0 2% 2%;
		padding: 2% 3%;
	}
	.top-sidebar p, .middle-sidebar p, .bottom-sidebar p{
		font-size: 10px;
	}
	.form_contact{
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
		display:grid;
		grid-template-columns:1fr 1fr;/*kolom pertama 1 fraksi kolom kedua 1 fraksi dibagi sama rata*/
	}
	#myform{
		display:grid;
		grid-template-colunms:1fr 1fr;
		grid-gap:20px;	
	}
	.full-width{
		grid-columns:1/2;	
	}
	.form_contact label{
		display:block;	

	}
	.form_contact p{
		margin:0;
	}
	.form_contact button, input, textarea{
		padding:lem;	
	}
	textarea{
		width: 100%;
	}
	input{
		width: 100%;
	}
	button{
		margin: 10px 0;
		background:#000000;
		width:150px;
		height: 25px;
		border:0;	
		border-radius: 6px;
		color: #FFF;
	}
	button:hover, button:focus{
		background:brown;
		outline:0;	
	}
	input:focus, textarea:focus{
		outline:3px solid brown;	
	}
	
}
@media screen and  (max-width: 400px){
	.body{
		width: 90%;
		font-size: 95%;
	}
	.mainHeader img{
		width: 50%;
	}
	.mainHeader nav{
		height: 160px;
	}

	.mainHeader nav ul{
		padding-left: 0;
	}

	.mainHeader nav ul li{
		width: 100%;
		text-align: center;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited{
		padding: 10px 25px;
		height: 20px;
		display: block;
	}

	.content{
		width: 100%;
		float: left;
		margin-top: 2%;
	}

	.post-info{
		display: none;
	}

	.topcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.topcontent img{
		width: 70%;
		display: block;
		margin: auto;
	}
	.topcontent header{
		font-size: 6px;
	}
	.bottomcontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.bottomcontent img{
		width: 70%;
		display: block;
		margin: auto;
	}
	.bottomcontent header {
		font-size: 6px;
	}
	.middlecontent{
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
	}
	.middlecontent img{
		width: 70%;
		display: block;
		margin: auto;
	}
	.middlecontent header{
		font-size: 6px;
	}
	.detail header p{
		font-size: 20px;
	}
	.detail img{
		width: 70%;
		float: left;
	}
	.top-sidebar, .middle-sidebar, .bottom-sidebar{
		width: 94%;
		margin: 2% 0 2% 0;
		padding: 2% 3%;
	}
	.form_contact{
		float: left;
		background-color: #FFF;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		padding: 3% 5%;
		margin-top: 2%;
		margin-bottom: 4%;
		display:grid;
		grid-template-columns:1fr 1fr;/*kolom pertama 1 fraksi kolom kedua 1 fraksi dibagi sama rata*/
	}
	#myform{
		display:grid;
		grid-template-colunms:1fr 1fr;
		grid-gap:20px;	
	}
	.full-width{
		grid-columns:1/2;	
	}
	.form_contact label{
		display:block;	

	}
	.form_contact p{
		margin:0;
	}
	.form_contact button, input, textarea{
		padding:lem;	
	}
	textarea{
		width: 100%;
	}
	input{
		width: 100%;
	}
	button{
		margin: 10px 0;
		background:#000000;
		width:150px;
		height: 25px;
		border:0;	
		border-radius: 6px;
		color: #FFF;
	}
	button:hover, button:focus{
		background:brown;
		outline:0;	
	}
	input:focus, textarea:focus{
		outline:3px solid brown;	
	}
	section{
		display: inline-block;
		width: 30.999%;
		text-align: center;
	}
	
}